<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Coruche+ Limpo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}">
  </head>
  <body>
    <h1>Coruche+ Limpo</h1>

    <div class="form-toggle">
      <button type="button" data-form="recolhaSection">Pedido de Recolha</button>
      <button type="button" data-form="reportSection">Reportar Contentor</button>
      <button type="button" data-form="mapSection">Mapa de Ecopontos</button>
    </div>

    <section id="recolhaSection" class="form-section">
      <h2 class="form-title">Pedido de Recolha</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="messages">
              {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

      <form id="recolhaForm" method="POST" action="{{ url_for('submit_recolha') }}">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="text" name="nif" placeholder="NIF" required>
        <input type="text" name="morada_recolha" placeholder="Morada" required>
        <select name="tipo_recolha" required>
          <option value="Monos domésticos">Monos domésticos</option>
          <option value="Entulho">Entulho</option>
          <option value="Outros Residuos">Outros Resíduos</option>
        </select>
        <input type="text" name="telefone" placeholder="Telefone">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Submeter</button>
      </form>
    </section>

    <section id="reportSection" class="form-section">
      <h2 class="form-title">Reportar contentor negligenciado</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="messages">
              {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        
      <form action="/submit_report" method="POST" enctype="multipart/form-data">
        <input type="text" name="localizacao" placeholder="Localização" required>
        <input type="file" name="foto" accept="image/*" required>
        <button type="submit">Submeter</button>
      </form>
    </section>

    <section id="mapSection" class="form-section">
      <h2 class="form-title">Mapa de Ecopontos e Contentores</h2>
      <div id="map"></div>
      
    </section>


    <footer>
      <div class="footer-content">
        <p>&copy; 2025 Coruche+ Limpo by Filipe Caçador</p>
        <nav>
          <ul>
            <li><a href="/">Início</a></li>
            <li><a href="https://www.cm-coruche.pt/">Câmara Municipal</a></li>
            <li><a href="https://ecoleziria.pt/">Ecoleziria</a></li>
            <li><a href="{{ url_for('login') }}">Área Administrativa</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAPS6A5Zs7cXpcqGeYFbX85fcS5HTxg28&callback=initMap" async></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
  </body>
</html>
